[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
	tag = v3.11.3
[submodule "deps/cppcodec"]
	path = deps/cppcodec
	url = https://github.com/tplgy/cppcodec/
	tag = v0.2
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog/
	tag = v1.13.0
[submodule "deps/eventpp"]
	path = deps/eventpp
	url = https://github.com/wqking/eventpp
	tag = v0.1.3
[submodule "deps/uri-library"]
	path = deps/uri-library
	url = https://github.com/ben-zen/uri-library
	tag = 0.1.0-beta