CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

Deps/asio/build/

Deps/asio/.github/

__webpubsub-default/

deps/bak/

webpubsub-client/build/

webpubsub-client/.vscode/

webpubsub-protocols/.vscode/

webpubsub-protocols/build/

webpubsub-client/.vs/

webpubsub-client/CMakeSettings.json

webpubsub-client/out/
